.ant-modal-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ant-modal {
    top:auto
}
.location-modal .ant-modal-footer {
    text-align: center;
}
.location-modal .ant-modal-footer .ant-btn-default {
    display: none;
}

.location-modal .ant-modal-content .ant-modal-footer .ant-btn-primary {
    width: 100%;
    margin: 0;
    margin-inline-start: 0!important;
    height: auto;
    background-color: #FFFFFF;
    font-weight: 700;
    padding: 0;
    border-radius: 16px;
    border: none;
}

.location-modal .ant-modal-content .ant-modal-footer .ant-btn-primary:disabled {
    color: #4E545F;
    background-color: #696969;

}
.location-modal .ant-modal-content .ant-modal-footer .ant-btn-primary span {
    font-size: 16px;
}

.tooltip-button {
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    margin-left: 5px;
    transform: translateY(-1px);
}
.modal-title-wrapper {
    margin-bottom: 15px;
}
.modal-title-wrapper h1 {
    font-family: Roboto,sans-serif;
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
    padding-right: 25px;
    margin: 0;
}
.modal-title-wrapper span {
    position: absolute;
    top:25px;
    right: 25px;
}
.modal-subtext {
    margin-bottom: 10px;
}
.modal-subtext,
.modal-subtext span {
    font-size: 14px;
    line-height: 18px;
}
.ant-tooltip .ant-tooltip-inner {
    background-color: #FFFFFF;
    padding: 15px 25px;
    border-radius: 16px;
}
.ant-tooltip .ant-tooltip-inner .ant-space-item > * {
    color:#000000
}
.ant-tooltip .ant-tooltip-inner .ant-space-item h1 {
    font-size: 18px;
    line-height: 25px;
    margin: 0;
}
.ant-tooltip .ant-tooltip-inner .ant-space-item span {
    font-size: 16px;
    line-height: 25px;
}
.green-message {
    background-color: #DDF5E7;
    margin-top: 25px;
    padding: 15px;
    border-radius: 16px;
 }
 .green-message .ant-card-body {
    padding: 0;
 }
 .green-message h1,
 .green-message span {
    color:#006127
 }
 .green-message h1 {
    font-size: 18px;
    margin: 0;
 }
 .green-message span {
    display: block;
    font-size: 14px;
    line-height: 18px;
 }
 .green-message-header,
 .green-message-header .ant-space-item {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
 }